{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('page/bower_components/validation-engine/css/validationEngine.jquery.css') }}"
          type="text/css"/>
{% endblock %}
{% block titlepage %}Añadir Sitio Patrimonial{% endblock %}
{% block page_header %}
    <div class="card">
        <div class="card-block front-icon-breadcrumb row">
            <div class="breadcrumb-header col">
                <div class="d-inline-block">
                    <h5>Sitio Patrimonial</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item"><a href="#!">Sitio</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Listado Sitio Patrimonial</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="#!">Añadir Sitio Patrimonial</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head %}
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('page/assets/pages/advance-elements/css/bootstrap-datetimepicker.css') }}">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('page/bower_components/bootstrap-daterangepicker/css/daterangepicker.css') }}">
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('page/bower_components/datedropper/css/datedropper.min.css') }}">
    <!-- Color Picker css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('page/bower_components/spectrum/css/spectrum.css') }}">
    <!-- Mini-color css -->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('page/bower_components/jquery-minicolors/css/jquery.minicolors.css') }}">
{% endblock %}
{% block contenido %}
    <div class="col-sm-12">
        <!-- Basic Inputs Validation start -->
        <div class="card">
            <div class="card-header">
                <h5>Añadir Sitio Patrimonial</h5>
            </div>
            <div id="smartwizard">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#identity">
                            <strong>Paso 1</strong> <br>Identidad
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#location">
                            <strong>Paso 2</strong> <br>Localización
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cronology">
                            <strong>Paso 3</strong> <br>Cronología
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#data_arq">
                            <strong>Paso 4</strong> <br>Datos Arqueometricos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#history">
                            <strong>Paso 5</strong> <br>Históricos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#management">
                            <strong>Paso 6</strong> <br>Gestión Patrimonial
                        </a>
                    </li>
                </ul>
                {{ include('sitiopatrimonial/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Bootstrap date-time-picker js -->
    <script src="{{ asset('page/smartwizard/src/js/jquery.smartWizard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('page/smartwizard/src/js/jquery.smartWizard.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('page/bower_components/validation-engine/js/languages/jquery.validationEngine-es.js') }}"></script>
    <script src="{{ asset('page/bower_components/validation-engine/js/jquery.validationEngine.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('page/assets/pages/advance-elements/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('page/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('page/assets/pages/advance-elements/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- Date-range picker js -->
    <script type="text/javascript" src="{{ asset('page/bower_components/bootstrap-daterangepicker/js/daterangepicker.js') }}"></script>
    <!-- Date-dropper js -->
    <script type="text/javascript" src="{{ asset('page/bower_components/datedropper/js/datedropper.min.js') }}"></script>
    <!-- Color picker js -->
    <script type="text/javascript" src="{{ asset('page/bower_components/spectrum/js/spectrum.js') }}"></script>
    <script type="text/javascript" src="{{ asset('page/bower_components/jscolor/js/jscolor.js') }}"></script>
    <!-- Mini-color js -->
    <script type="text/javascript" src="{{ asset('page/bower_components/jquery-minicolors/js/jquery.minicolors.min.js') }}"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="{{ asset('page/assets/pages/advance-elements/custom-picker.js') }}"></script>
    <script>
        //Select Dependiente para seleccion Provincia y Pais
        $('#{{ form.pais.vars.id }}').on('change', function (e) {
            var data = {
                pais_id: $(this).val()
            };
            $('#{{ form.provincia.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.provincia.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('provincias_x_paiss') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length != 0){
                        var option = '<option>Seleccione la Provincia.</option>';
                        $.each(response, function (i, provincia) {
                            option += '<option value='+ provincia.id +'>'+ provincia.nombre +'</option>'
                        });
                        $('#{{ form.provincia.vars.id }}').html(option);
                        $('#{{ form.provincia.vars.id }}').removeAttr('disabled');
                    } else {
                        var option1 = '<option>No hay Provincias en este País.</option>';
                        $('#{{ form.provincia.vars.id }}').html(option1);
                        $('#{{ form.provincia.vars.id }}').attr('disabled', 'disabled');
                        var option2 = '<option>No hay Provincias en este País.</option>';
                        $('#{{ form.municipio.vars.id }}').html(option2);
                        $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Provincias en el País seleccionado.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        //Select Dependiente para seleccion Municipio y Provincia
        $('#{{ form.provincia.vars.id }}').on('change', function (e) {
            var data = {
                provincia_id: $(this).val()
            };
            $('#{{ form.municipio.vars.id }}').html('<option>Cargando...</option>');
            $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
            $.ajax({
                type: 'POST',
                url: '{{ path('municipio_x_provincia') }}',
                async: true,
                data: data,
                success: function (response) {
                    if (response.length != 0){
                        var option = '<option>Seleccione el Municipio</option>';
                        $.each(response, function (i, municipio) {
                            option += '<option value='+ municipio.id +'>'+ municipio.nombre +'</option>'
                        });
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').removeAttr('disabled');
                    } else {
                        var option = '<option>No hay Municipios en esta Provincia.</option>';
                        $('#{{ form.municipio.vars.id }}').html(option);
                        $('#{{ form.municipio.vars.id }}').attr('disabled', 'disabled');
                        noty({
                            text: 'No se encontraron Municipios de la Provincia seleccionada.',
                            layout: 'topRight', type: 'error', timeout: 5000,
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Script para el manejo de Añadir o Eliminar Coordenadas GPS
        var $container = $('ul.coordenadaGPS');
        // botón para agregar una nueva coordenada gps
        var $addSportParamLink = $('<button id="ajout_param" class="btn btn-primary btn-xs">Añadir Coordenada GPS</button>');
        var $newLinkLi = $('<li></li>').append($addSportParamLink);

        $(document).ready(function() {
            //botón eliminar en cada coordenada q exista
            $container.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            //añadir boton
            $container.append($newLinkLi);

            // agregando un nuevo formulario al hacer clic en el botón Agregar
            $addSportParamLink.on('click',function(e) {
                e.preventDefault();
                var index = $container.children().length-1;

                addParamForm($container,$newLinkLi);

                var bAffiche;

                return false;
            });

            // añadir un nuevo formulario Coordenada GPS
            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li class="form-gps"></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Coordenada GPS</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
        });

        // Script para el manejo de Añadir o Eliminar Coordenadas UTM
        var $containeru = $('ul.coordenadaUTM');
        var $addSportParamLinku = $('<button id="utm_param" class="btn btn-primary btn-xs">Añadir Coordenada UTM</button>');
        var $newLinkLiu = $('<li></li>').append($addSportParamLinku);

        $(document).ready(function() {
            $containeru.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            $containeru.append($newLinkLiu);

            $addSportParamLinku.on('click',function(e) {
                e.preventDefault();
                var index = $containeru.children().length-1;

                addParamForm($containeru,$newLinkLiu);

                var bAffiche;

                return false;
            });

            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li  class="form-utm"></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Coordenada UTM</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
        });

        // Script para el manejo de Añadir o Eliminar Zona Objeto GPS
        var $containero = $('ul.zonaobjetogps');
        var $addSportParamLinko = $('<a href="#" id="zone_gps_param" class="btn btn-primary btn-xs">Añadir Zona Objeto GPS</a>');
        var $newLinkLio = $('<li></li>').append($addSportParamLinko);

        $(document).ready(function() {
            $containero.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            $containero.append($newLinkLio);

            $addSportParamLinko.on('click',function(e) {
                e.preventDefault();
                var index = $containero.children().length-1;

                addParamForm($containero,$newLinkLio);

                var bAffiche;

                return false;
            });

            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Zona Objeto GPS</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
        });

        // Script para el manejo de Añadir o Eliminar Zona Patrimonial GPS
        var $containerp = $('ul.zonapatrimonialgps');
        var $addSportParamLinkp = $('<a href="#" id="zone_gps_two_param" class="btn btn-primary btn-xs">Añadir Zona Patrimonial GPS</a>');
        var $newLinkLip = $('<li></li>').append($addSportParamLinkp);

        $(document).ready(function() {
            $containerp.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            $containerp.append($newLinkLip);

            $addSportParamLinkp.on('click',function(e) {
                e.preventDefault();
                var index = $containerp.children().length-1;

                addParamForm($containerp,$newLinkLip);

                var bAffiche;

                return false;
            });

            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Zona Patrimonial GPS</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
        });

        // Script para el manejo de Añadir o Eliminar Zona Protección GPS
        var $containerpr = $('ul.zonaprotecciongps');
        var $addSportParamLinkpr = $('<a href="#" id="zone_gps_pro_param" class="btn btn-primary btn-xs">Añadir Zona Protección GPS</a>');
        var $newLinkLipr = $('<li></li>').append($addSportParamLinkpr);

        $(document).ready(function() {
            $containerpr.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            $containerpr.append($newLinkLipr);

            $addSportParamLinkpr.on('click',function(e) {
                e.preventDefault();
                var index = $containerpr.children().length-1;

                addParamForm($containerpr,$newLinkLipr);

                var bAffiche;

                return false;
            });

            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Zona Protección GPS</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
        });

        // Script para el manejo de Añadir o Eliminar Zona Insertidumbre GPS
        var $containerin = $('ul.zonainsertidumbregps');
        var $addSportParamLinkin = $('<a href="#" id="zone_gps_insert_param" class="btn btn-primary btn-xs">Añadir Zona Insertidumbre GPS</a>');
        var $newLinkLiin = $('<li></li>').append($addSportParamLinkin);

        $(document).ready(function() {
            $containerin.find('li').each(function() {
                addParamFormDeleteLink($(this));
            });

            $containerin.append($newLinkLiin);

            $addSportParamLinkin.on('click',function(e) {
                e.preventDefault();
                var index = $containerin.children().length-1;

                addParamForm($containerin,$newLinkLiin);

                var bAffiche;

                return false;
            });

            function addParamForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length-1);

                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addParamFormDeleteLink($newFormLi);
            }

            function addParamFormDeleteLink($paramFormLi){
                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">Eliminar Zona Insertidumbre GPS</a>');
                $paramFormLi.append($removeFormA);
                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $paramFormLi.remove();
                });
            }
            $('#{{ form.isOnlyOneUTM.vars.id }}').on('change', function () {
                $containeru.find('.form-utm').detach();
                if ($(this)[0].checked) {
                    $addSportParamLinku.click().attr('disabled', true)
                } else {
                    $addSportParamLinku.attr('disabled', false)
                }

            });

            $('#{{ form.isOnlyOneGPS.vars.id }}').on('change', function () {
                $container.find('.form-gps').detach();
                if ($(this)[0].checked) {
                    $addSportParamLink.click().attr('disabled', true)
                } else {
                    $addSportParamLink.attr('disabled', false)
                }

            });
        });

        $(document).ready(function () {
            $('form[name="{{ form.vars.id }}"]').validationEngine('attach', {promptPosition : "bottomLeft"});
            // Toolbar extra buttons
            var btnFinish = $('<button id="btnSubmitForm" hidden></button>').html('<i class="icofont icofont-plus"></i> Añadir Sitio Patrimonial')
                .addClass('btn btn-success')
                .on('click', function () {
                    $('#btnSubmitForm').click()
                });

            var btnCancel = $('<button></button>').text('Cancelar')
                .addClass('btn btn-danger')
                .on('click', function () {
                    $('#smartwizard').smartWizard("reset");
                });

            var btnReturn = $('<button></button>').html('<i class="icofont icofont-exchange"></i> Volver al listado')
                .addClass('btn btn-warning')
                .on('click', function () {
                    window.location.href = '{{ path('sitiopatrimonial_index') }}';
                });

            // Step show event
            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                $("#prev-btn").removeClass('disabled');
                $("#next-btn").removeClass('disabled');
                if (stepPosition === 'first') {
                    $("#prev-btn").addClass('disabled');
                } else if (stepPosition === 'last') {
                    $("#next-btn").addClass('disabled');
                } else {
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'arrows', //default, dots, progress
                transition: {
                    animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // both bottom
                    toolbarExtraButtons: [btnFinish, btnReturn]
                },
                lang: { // Language variables for button
                    next: 'Siguiente',
                    previous: 'Anterior'
                },
            });

            $('#smartwizard').on('leaveStep', function (e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {
                console.log('currentStepIndex', currentStepIndex)
                let formValidated = $('form[name="{{ form.vars.id }}"]').validationEngine('validate');
                console.log('formValidated', formValidated);
                if (!formValidated) {
                    return false;
                }
            })

            $(".sw-btn-next").on('click', function () {
                if ($(this).hasClass("disabled")) {
                    $("#btnSubmitForm").removeAttr("hidden");
                }
            })
            $(".sw-btn-prev").on('click', function () {
                if (!$(this).hasClass("disabled")) {
                    $("#btnSubmitForm").attr("hidden", "hidden");
                }
            })
            // External Button Events
            $("#reset-btn").on("click", function () {
                // Reset wizard

                $('#smartwizard').smartWizard("reset");
                return true;
            });

            $("#prev-btn").on("click", function () {
                // Navigate previous
                $('#smartwizard').smartWizard("prev");
                return true;
            });

            $("#next-btn").on("click", function () {
                // Navigate next
                $('#smartwizard').smartWizard("next");
                return true;
            });


            // Demo Button Events
            $("#got_to_step").on("change", function () {
                // Go to step
                var step_index = $(this).val() - 1;
                $('#smartwizard').smartWizard("goToStep", step_index);
                return true;
            });

            $("#is_justified").on("click", function () {
                // Change Justify
                var options = {
                    justified: $(this).prop("checked")
                };

                $('#smartwizard').smartWizard("setOptions", options);
                return true;
            });

            $("#dark_mode").on("click", function () {
                // Change dark mode
                var options = {
                    darkMode: $(this).prop("checked")
                };

                $('#smartwizard').smartWizard("setOptions", options);
                return true;
            });

            $("#animation").on("change", function () {
                // Change theme
                var options = {
                    transition: {
                        animation: $(this).val()
                    },
                };
                $('#smartwizard').smartWizard("setOptions", options);
                return true;
            });

            $("#theme_selector").on("change", function () {
                // Change theme
                var options = {
                    theme: $(this).val()
                };
                $('#smartwizard').smartWizard("setOptions", options);
                return true;
            });

        });
    </script>
{% endblock %}