{% extends 'base.html.twig' %}
{% block titlepage %}Añadir Proyecto{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('page/bower_components/validation-engine/css/validationEngine.jquery.css') }}"
          type="text/css"/>
{% endblock %}
{% block page_header %}
    <div class="card">
        <div class="card-block front-icon-breadcrumb row">
            <div class="breadcrumb-header col">
                <div class="d-inline-block">
                    <h5>Sitio</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item"><a href="#!">Sitio</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Listado Proyecto</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="#!">Añadir Proyecto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="col-sm-12">
        <!-- Basic Inputs Validation start -->
        <div class="card">
            <div class="card-header">
                <h5>Añadir Proyecto</h5>
            </div>
            <div class="card-block">
            {{ include('proyecto/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('page/bower_components/validation-engine/js/languages/jquery.validationEngine-es.js') }}"></script>
    <script src="{{ asset('page/bower_components/validation-engine/js/jquery.validationEngine.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('form[name="{{ form.vars.id }}"]').validationEngine('attach', {promptPosition: "bottomLeft"});
            $('#send-form').on('click', function () {
                let formValidated = $('form[name="{{ form.vars.id }}"]').validationEngine('validate');
                if (!formValidated) {
                    return false;
                }
            })
        });

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function() {
                    return $('#primary-popover-content').html();
                }
            });
        });
    </script>
{% endblock %}