<!DOCTYPE html>
<html lang="en">
<head>
    <title>CLIO - {% block titlepage %} Login {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('icons/icono.png') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
    <!--===============================================================================================-->
    <!-- Notifications -->
    <link rel="stylesheet" type="text/css" href="{{ asset('page/noty/animate/animate.css') }}"/>
{#    <link href="{{ asset('login/css/validationengine/validationEngine.jquery.css') }}" rel="stylesheet">#}
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{{ asset('login/images/img-01.png') }}" alt="IMG">
            </div>
            {% block form %}

            {% endblock %}
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/tilt/tilt.jquery.min.js') }}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{{ asset('login/js/main.js') }}"></script>

<!-- jQuery Notification Plugin 2.2.7 -->
<script type="text/javascript" src="{{ asset('page/noty/animate/jquery.noty.packaged.js') }}"></script>
<!-- Validacion -->
<script src="{{ asset('login/js/validationengine/languages/jquery.validationEngine-es.js') }}"></script>
<script src="{{ asset('login/js/validationengine/jquery.validationEngine.js') }}"></script>
{% block javascript %}
<script>
$(function () {
{% for notice_level in ['success','error','info', 'warning'] %}
{% set session_var = 'app_' ~ notice_level %}
    {% if app.session.flashbag.has(session_var) %}
        {% for flash in app.session.flashbag.get(session_var) %}
        noty({
            text: '{{ flash }}',
            progressBar : true,
            layout      : 'topRight',
            dismissQueue: true,
            timeout     : 5000,
            closeWith   : ['click'],
            theme       : 'relax',
            type        : '{{ notice_level }}',
            maxVisible  : 10,
            animation   : {
                        open  : 'animated bounceInLeft',
                        close : 'animated bounceOutLeft',
                        easing: 'swing',
                        speed : 500
                    }
                });
        {% endfor %}
    {% endif %}
{% endfor %}
});
</script>
{% endblock %}
</body>
</html>