{% extends 'base.html.twig' %}
{% block titlepage %}Listado Comentario{% endblock %}
{% block head %}
    <!-- modal efect css -->
    <link href="{{ asset('page/modal/css/component.css') }}" rel="stylesheet">
{% endblock %}
{% block page_header %}
    <div class="card">
        <div class="card-block front-icon-breadcrumb row">
            <div class="breadcrumb-header col">
                <div class="d-inline-block">
                    <h5>Blog</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item"><a href="#!">Blog</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="#!">Listado Comentarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="col-sm-12">
        <!-- HTML5 Export Buttons table start -->
        <div class="card">
            <div class="card-header">
                <h5><strong>Listado</strong> de Comentarios</h5>
                <div class="dropdown-inverse dropdown open f-right">
                    <button class="btn dropdown-toggle waves-effect waves-light" style="background-color:transparent" type="button" id="dropdown-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icofont icofont-upload-alt"></i>Exportar</button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-7" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <a href="#" class="dropdown-item waves-light waves-effect"><i class="icofont icofont-file-pdf"></i> <strong> Exportar</strong> PDF</a>
                        <a href="#" class="dropdown-item waves-light waves-effect"><i class="icofont icofont-file-excel"></i> <strong> Exportar</strong> EXCEL</a>
                    </div>
                </div>
                <a href="">
                    <button type="button" style="background-color:transparent" name="reset-filter" id="btn-reset-filtros" class="btn f-right"><i
                                class="icofont icofont-refresh"></i>Refrescar
                    </button>
                </a>
                <a href="{{ path('comments') }}">
                    <button type="button" style="background-color:transparent" class="btn f-right"><i
                                class="icofont icofont-file-alt"></i><strong> Añadir</strong> Clasificación
                    </button>
                </a>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <table id="alt-pg-dt" class="table">
                        <thead>
                        <tr>
                                <th>#</th>
                                <th>Título Post</th>
                                <th>Comentario</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Portada</th>
                                <th class="nosort">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ path('post_single', {'slug': comment.post.slug}) }}#comment-{{ comment.id }}">
                                            {{ comment.post.title | excerpt(4, '...') }}
                                        </a>
                                    </td>
                                    <td>{{ comment.comment | excerpt(4, '...') }}</td>
                                    <td>{{ comment.user.username }}</td>
                                    <td>{{ comment.dateCreated | date('d/m/Y') }}</td>
                                    <td>
                                        {% if comment.state == true %}
                                        <span class="badge badge-pill badge-success mb-1">
                                            Aceptado
                                        </span>
                                        {% else %}
                                        <span class="badge badge-pill badge-warning mb-1">
                                            Pendiente
                                        </span>
                                        {% endif %}    
                                    </td>
                                    <td>
                                        {% if comment.portada == true %}
                                        <span class="badge badge-pill badge-success mb-1">
                                            Aceptado
                                        </span>
                                        {% else %}
                                        <span class="badge badge-pill badge-warning mb-1">
                                            Pendiente
                                        </span>
                                        {% endif %}    
                                    </td>
                                    <td>
                                        <div class="dropdown d-inline-block">
                                            <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-more-horizontal"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDropdown">
                                                <button class="dropdown-item" data-toggle="modal" data-target="#modal-editar-comment" data-whatever=" {{ comment.id }}"><i class="fa fa-edit"></i> Editar</button>
                                                
                                                <button class="dropdown-item eliminar" value="{{ path('coment_remove', {'id': comment.id}) }}" title="Eliminar"><i class="fa fa-trash"></i> Eliminar</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a class="btn btn-warning" type="button" href="{{ path('comments') }}"><i class="fa fa-cloud"></i> Actualizar</a>
        </div>
    </div>

    <div class="modal modal-info fade" id="modal-editar-comment">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Actualizar Comentario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div id="modal-form-editar-comment">
                    <div class="modal-body">
                        <div id="loading_details" class="text-center">
                            <div id="loading_details" class="text-center">
                                Cargando ...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-19">
        <div class="md-content md-content-white">
            <h3><i class="icofont icofont-warning"></i> Advertencia</h3>
            <div>
                <h4 id="mensaje"></h4>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary aceptar">Aceptar</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger cancelar" onclick="$('#modal-19').removeClass('md-show')">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('dashboard/datatable/assets/pages/data-table/js/jszip.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/assets/pages/data-table/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/assets/pages/data-table/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('dashboard/datatable/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
    <!-- modal efect js -->
    <script src="{{ asset('page/modal/js/modalEffects.js') }}"></script>
    <script src="{{ asset('page/modal/js/classie.js') }}"></script>
    <!-- Switchery -->
    <script src="{{ asset('dashboard/switchery/dist/switchery.min.js') }}"></script>
    <script>
        $(function () {
            {% for notice_level in ['success','error','info', 'warning'] %}
            {% set session_var = 'app_' ~ notice_level %}
            {% if app.session.flashbag.has(session_var) %}
            {% for flash in app.session.flashbag.get(session_var) %}
            noty({
                text: '{{ flash }}',
                progressBar : true,
                layout      : 'topRight',
                dismissQueue: true,
                timeout     : 5000,
                closeWith   : ['click'],
                theme       : 'relax',
                type        : '{{ notice_level }}',
                maxVisible  : 10,
                animation   : {
                    open  : 'animated bounceInRight',
                    close : 'animated bounceOutRight',
                    easing: 'swing',
                    speed : 500
                }
            });
            {% endfor %}
            {% endif %}
            {% endfor %}

        $('#modal-editar-comment').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var idcomment = button.data('whatever');
                var modal = $(this);
                $.ajax({
                    url: href = "http:" + idcomment + "/edit",
                    type: 'POST',
                    async: true,
                    data: null,
                    success: function (html) {
                        modal.find('#modal-form-editar-comment').html(html);
                        modal.find('#modal-form-editar-comment').show();
                        var switcheries = modal.find('.js-switch');
                        for (const switchy of switcheries) {
                            var switchery = new Switchery(switchy, {color: '#4680ff', jackColor: '#fff', size: 'small'});
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        var dataTable = $('#simpletablecomm').DataTable({
            language: {
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>'
                }
            },
            scrollX: true,
            scroller: true,
            drawCallback: function (row, data, dataIndex) {
                $('.eliminar').on('click', function () {
                    var link = $(this).val();
                    $('#modal-19').addClass('md-show');
                    $('#mensaje').text('Estas seguro que quieres eliminar este Comentario del Post?');
                    $('.aceptar').on('click', function () {
                        window.location = link;
                    });
                });
            }
        });
    </script>
{% endblock %}