{{ form_start(form) }}
<div class="form-group row">
    {% if(form_errors(form.sitiopatrimonial)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.sitiopatrimonial) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.sitiopatrimonial, 'Sitio Patrimonial * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.sitiopatrimonial, { 'attr': { 'title': 'Seleccionar el sitio patrimonial al que pertenece el objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.codigoobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.codigoobjeto) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.codigoobjeto, 'Código del Objeto * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.codigoobjeto, { 'attr': { 'placeholder': 'Código', 'title': 'Introducir el código del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.nombreobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.nombreobjeto) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.nombreobjeto, 'Nombre del Objeto * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.nombreobjeto, { 'attr': { 'placeholder': 'Nombre', 'title': 'Introducir el nombre del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.otronombreobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.otronombreobjeto) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.otronombreobjeto, 'Otro Nombre del Objeto :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.otronombreobjeto, { 'attr': { 'class': 'form-control', 'placeholder': 'Otro Nombre', 'title': 'Introducir otro nombre del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.keyword)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.keyword) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.keyword, 'KeyWord :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.keyword, { 'attr': { 'class': 'form-control', 'placeholder': 'KeyWord', 'title': 'Introducir las palabras claves del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.descripcion_tecnica)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.descripcion_tecnica) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.descripcion_tecnica, 'Descripción Tecnica :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.descripcion_tecnica, { 'attr': { 'class': 'form-control', 'placeholder': 'Descripción Tecnica', 'title': 'Introducir una descripción tecnica del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.descripcion_visual)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.descripcion_visual) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.descripcion_visual, 'Descripción Visual :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.descripcion_visual, { 'attr': { 'class': 'form-control', 'placeholder': 'Descripción Visual', 'title': 'Introducir una descripción visual del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.marcas_visibles)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.marcas_visibles) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.marcas_visibles, 'Marcas Visibles :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.marcas_visibles, { 'attr': { 'class': 'js-small', 'title': 'Habilitar si tiene marcas visibles el Objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.autor)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.autor) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.autor, 'Autor :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.autor, { 'attr': { 'class': 'form-control', 'placeholder': 'Autor', 'title': 'Introducir el autor del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.realizadopor)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.realizadopor) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.realizadopor, 'Realizado por * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.realizadopor, { 'attr': { 'placeholder': 'Realizado por', 'title': 'Introducir el realizador de la ficha del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.fecharealizacion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.fecharealizacion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.fecharealizacion, 'Fecha de Realización :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.fecharealizacion, { 'attr': { 'class': 'form-control', 'title': 'Introducir la fecha de realización de la ficha del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.fuepropiedad)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.fecharealizacion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.fuepropiedad, 'Fue Propiedad :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.fuepropiedad, { 'attr': { 'class': 'form-control', 'placeholder': 'Fue Propiedad', 'title': 'Introducir nombre del antiguo rropietario del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.pais)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.pais) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.pais, 'País * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.pais, { 'attr': { 'placeholder': 'País de Procedencia', 'title': 'Seleccionar el país de procedencia del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.lugar_procedencia)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.lugar_procedencia) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.lugar_procedencia, 'Lugar de Procedencia :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.lugar_procedencia, { 'attr': { 'class': 'form-control', 'placeholder': 'Lugar de Procedencia', 'title': 'Introducir el lugar de procedencia del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.propiedad_actual)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.propiedad_actual) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.propiedad_actual, 'Propiedad Actual :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.propiedad_actual, { 'attr': { 'class': 'form-control', 'class': 'form-control', 'placeholder': 'Propiedad Actual', 'title': 'Introducir el propietario actual del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.hecho_historico_relacionado)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.hecho_historico_relacionado) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.hecho_historico_relacionado, 'Hecho Historico Relacionado :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.hecho_historico_relacionado, { 'attr': { 'class': 'form-control', 'placeholder': 'Hecho Histórico', 'title': 'Introducir algun hecho histórico vinculado con el objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.altura)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.altura) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.altura, 'Altura :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.altura, { 'attr': { 'class': 'form-control', 'placeholder': 'Altura', 'title': 'Introducir la altura del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.ancho)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.ancho) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.ancho, 'Ancho :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.ancho, { 'attr': { 'class': 'form-control', 'placeholder': 'Ancho', 'title': 'Introducir el ancho del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.largo)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.largo) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.largo, 'Largo :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.largo, { 'attr': { 'class': 'form-control', 'placeholder': 'Largo', 'title': 'Introducir el largo del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.grosor)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.grosor) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.grosor, 'Grosor :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.grosor, { 'attr': { 'class': 'form-control', 'placeholder': 'Grosor', 'title': 'Introducir el grosor del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.diametro)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.diametro) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.diametro, 'Diametro :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.diametro, { 'attr': { 'class': 'form-control', 'placeholder': 'Diametro', 'title': 'Introducir el diametro del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.peso)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.peso) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.peso, 'Peso :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.peso, { 'attr': { 'class': 'form-control', 'placeholder': 'Peso', 'title': 'Introducir el peso del objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.clasificacion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.clasificacion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.clasificacion, 'Clasificación * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.clasificacion) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.tipomaterial)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.tipomaterial) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.tipomaterial, 'Tipo de Material * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.tipomaterial) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.subtipomaterial)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.subtipomaterial) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.subtipomaterial, 'SubTipo de Material * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.subtipomaterial) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.categoriaobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.categoriaobjeto) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.categoriaobjeto, 'Categoría del Objeto * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.categoriaobjeto) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.usofuncion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.usofuncion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.usofuncion, 'Uso - Función * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.usofuncion) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.datacion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.datacion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.datacion, 'Datación * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.datacion) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.integridad)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.integridad) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.integridad, 'Integridad * :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.integridad) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.estado_conservacion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.estado_conservacion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.estado_conservacion, 'Estado de Conservación :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.estado_conservacion) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.expuesto_publico)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.expuesto_publico) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.expuesto_publico, 'Expuesto al Público :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.expuesto_publico, { 'attr': { 'class': 'js-small', 'title': 'Habilitar si es expuesto al publico', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.lugares_exposicion)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.lugares_exposicion) }}</strong>
        </div>
    {% endif %}
    <label class="col-sm-2 col-form-label">{{ form_label(form.lugares_exposicion, 'Lugares de Exposición :') }}</label>
    <div class="col-sm-10">
        {{ form_widget(form.lugares_exposicion, { 'attr': { 'class': 'form-control', 'placeholder': 'Lugares de Exposición', 'title': 'Introducir los lugares de exposición donde se ha encontrado el objeto', 'data-toggle': 'tooltip' } }) }}
    </div>
</div>

<div class="form-group row">
    {% if(form_errors(form.portadaobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.portadaobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Portada del Objeto Patrimonial :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for por in fichaObjetoPatrimonial.portadaobjeto %}
                        <div class="swiper-slide" style="width: 120.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <a href="{{ asset('/CLIO/public/uploads/objeto/portada/' ~ por.link) }}" data-lightbox="{{ por.link }}">
                                            <img src="{{ asset('/CLIO/public/uploads/objeto/portada/' ~ por.link) }}" alt="Porta del Sitio" width="150"><br>
                                        </a>
                                        <a class="btn btn-mat btn-info" style="background-color:transparent" href="{{ asset('/CLIO/public/uploads/objeto/portada/' ~ por.link) }}" target="_blank" title="{{por.link}}">
                                            <span style="color:#010d0c"><i class="icofont icofont-download-alt"></i></a>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_portadaobjeto', {id: por.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ por.id) }}"><span style="color:#010d0c"><i class="icofont icofont-delete-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.portadaobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.portadaobjeto, 'Portada del Objeto Patrimonial :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.portadaobjeto, { 'attr': { 'class': 'validate[required]' } }) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.fotografiaobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.fotografiaobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Fotografías :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for foto in fichaObjetoPatrimonial.fotografiaobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/fotografias/' ~ foto.link) }}" alt="Fotografía" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_fotografia', {id: foto.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ foto.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.fotografiaobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.fotografiaobjeto, 'Fotografías :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.fotografiaobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.dibujoobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.dibujoobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Dibujos :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for dibu in fichaObjetoPatrimonial.dibujoobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/dibujos/' ~ dibu.link) }}" alt="Dibujo" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_dibujo', {id: dibu.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ dibu.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.dibujoobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.dibujoobjeto, 'Dibujos :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.dibujoobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.fotogrametriaobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.fotogrametriaobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Fotogrametrías :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for fotogra in fichaObjetoPatrimonial.fotogrametriaobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/fotogrametrias/' ~ fotogra.link) }}" alt="Fotogrametría" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_fotogrametria', {id: fotogra.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ fotogra.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.fotogrametriaobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.fotogrametriaobjeto, 'Fotogrametrías :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.fotogrametriaobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.modelo3dobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.modelo3dobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Modelo 3D :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for mod in fichaObjetoPatrimonial.modelo3dobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/modelo3d/' ~ mod.link) }}" alt="Modelo 3D" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_modelo3dobjeto', {id: mod.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ mod.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.modelo3dobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.modelo3dobjeto, 'Modelo 3D :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.modelo3dobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.bibliografiaobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.bibliografiaobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Bibliografías :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for biblio in fichaObjetoPatrimonial.bibliografiaobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/bibliografia/' ~ biblio.link) }}" alt="Bibliografía" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_bibliografiaobjeto', {id: biblio.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ biblio.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.bibliografiaobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.bibliografiaobjeto, 'Bibliografías :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.bibliografiaobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.publicacionesobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.publicacionesobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Publicaciones :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for pu in fichaObjetoPatrimonial.publicacionesobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/publicaciones/' ~ pu.link) }}" alt="Publicación" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_publicacionesobjeto', {id: pu.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ pu.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.publicacionesobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.publicacionesobjeto, 'Publicaciones :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.publicacionesobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    {% if(form_errors(form.referenciawebobjeto)) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ form_errors(form.referenciawebobjeto) }}</strong>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'fichaobjeto_edit' %}
        <label class="col-sm-2 col-form-label">Referencia Web :</label>
        <div class="card-block col-sm-10">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for referen in fichaObjetoPatrimonial.referenciawebobjeto %}
                        <div class="swiper-slide" style="width: 300.2px; margin-right: 50px;">
                            <div class="col-xl-9 col-md-20">
                                <div class="row align-items-center m-l-12">
                                    <div class="col-lg-auto">
                                        <img src="{{ asset('/CLIO/public/uploads/objeto/referenciasweb/' ~ referen.link) }}" alt="Referencia Web" width="150"><br>
                                        <a class="btn btn-mat btn-danger" style="background-color:transparent" href="{{ path('ficha_delete_referenciawebobjeto', {id: referen.id}) }}" data-delete
                                           data-token="{{ csrf_token('delete' ~ referen.id) }}"><span style="color:#010d0c" ;><i class="icofont icofont-delete-alt"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end of swiper-slide -->
                </div>
                <!-- end of swipper-wrapper -->
            </div>
        </div>
        <div class="col-sm-10">
            {{ form_widget(form.referenciawebobjeto) }}
        </div>
    {% elseif app.request.attributes.get('_route') == 'fichaobjeto_new' %}
        <label class="col-sm-2 col-form-label">{{ form_label(form.referenciawebobjeto, 'Referencia Web :') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.referenciawebobjeto) }}
        </div>
    {% endif %}
</div>

<div class="form-group row">
    <label class="col-sm-10"></label>
    <div class="col-sm-12">
        <a href="{{ path('fichaobjeto_index') }}" style="background-color:transparent" class="btn btn-mat btn-info f-right"><span style="color:#010d0c"><i class="icofont icofont-exchange"></i> Volver al Listado</a>
        <button id="send-form" style="background-color:transparent" class="btn btn-mat btn-info f-right"><span style="color:#010d0c"><i class="icofont icofont-plus"></i> {{ button_label|default('Añadir Ficha Objeto') }}</button>
    </div>
</div>
{{ form_end(form) }}